###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/public/bundles/
/public/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# PHPStorm .idea folder
.idea/
public/fichiers/stimulus_1.mp3
public/fichiers/stimulus_10.mp3
public/fichiers/stimulus_11.mp3
public/fichiers/stimulus_12.mp3
public/fichiers/stimulus_13.mp3
public/fichiers/stimulus_14.mp3
public/fichiers/stimulus_15.mp3
public/fichiers/stimulus_16.mp3
public/fichiers/stimulus_17.mp3
public/fichiers/stimulus_18.mp3
public/fichiers/stimulus_19.mp3
public/fichiers/stimulus_2.mp3
public/fichiers/stimulus_3.mp3
public/fichiers/stimulus_4.mp3
public/fichiers/stimulus_5.mp3
public/fichiers/stimulus_6.mp3
public/fichiers/stimulus_7.mp3
public/fichiers/stimulus_8.mp3
public/fichiers/stimulus_9.mp3
public/fichiers/tests.xlsx
public/img/icons.svg
src/Controller/TestsController.php
src/Entity/Block.php
src/Entity/Page.php
src/Entity/Question.php
src/Entity/Test.php
src/EventListener/StimulusTestUploadListener.php
src/Form/DataTransformer/OptionsToArrayTransformer.php
src/Form/PreTestFormType.php
src/Form/QuestionOptionsType.php
src/Form/QuestionType.php
src/Form/StimuliAndQuestionsFormType.php
src/Repository/BlockRepository.php
src/Repository/QuestionRepository.php
src/Service/Age.php
src/Service/ExcelStimuliParser/RowReader.php
src/Service/ExcelStimuliParser/SheetReader.php
src/Service/StimuliBlockMaker.php
src/Service/TestManager.php
src/Utils/FormBuilder.php
src/Utils/FormGenerator/PreTestFormSerializer.php
templates/tests/create.html.twig
templates/tests/form_create.html.twig
templates/tests/stimuli_create.html.twig
templates/tests/test_link.html.twig
