
<form action="" methode="post">

    <p>{{  }}</p>

    <label for="europe">europe</label>
    <input type="radio" name="country" value="europe"><br>
    <label for="afrique">afrique</label>
    <input type="radio" name="country" value="afrique"><br>
    <label for="asie">asie</label>
    <input type="radio" name="country" value="asie"><br>
    <input type="submit" value="envoyer">
</form>
