<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>ILPGA</title>    
    </head>
    <body class="partieAuditeur">
        <header>
            <nav>
                <img src="img/LPP_Logo.png" alt="logo">
            </nav>
        </header>

        <main class="testAccueil">
            <section class="containerTest">
                <h1>Bienvenue sur le test de perception auditive</h1>
                <p>Ex his quidam aeternitati se commendari posse per statuas aestimantes eas ardenter adfectant quasi plus praemii de figmentis aereis sensu carentibus adepturi, quam ex conscientia honeste recteque factorum, easque auro curant inbracteari, quod Acilio Glabrioni delatum est primo, cum consiliis armisque regem superasset Antiochum. quam autem sit pulchrum exigua haec spernentem et minima ad ascensus verae gloriae tendere longos et arduos, ut memorat vates Ascraeus, Censorius Cato monstravit. qui interrogatus quam ob rem inter multos... statuam non haberet malo inquit ambigere bonos quam ob rem id non meruerim, quam quod est gravius cur inpetraverim mussitare.</p>
                <div class="btnCentre">
                    <a href="" class="boutonValidation">
                        Démarrer le test
                    </a>
                </div>
                
            </section>
        </main>
    </body>
</html>