{% extends "base.html.twig" %}


{% block body %}
    <form action="{{ path('lost_password') }}" method="post">
        <label for="username">Nom utilisateur :</label>
        <input type="text" id="email" name="email" />
        <button type="submit" class="button">connexion</button>
    </form>
    <p>{{ report }}</p>
{% endblock %}

