<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <title>ILPGA</title>    
    </head>
    <body class="partieAuditeur">
        <header>
            <nav>
                <img src="img/LPP_Logo.png" alt="logo">
            </nav>
        </header>

        <main class="testForm">
            <section class="containerTest">
                <div>
                    <h1>Formulaire pre-test</h1>
                    <p>Avant de commencer, veuillez remplir ces informations afin de recueillir des statistiques sur les réponses.</p>
                </div>

                <form action="">
                    <div class="rangeeQuestion">
                        <div class="Question">
                            <label for="">Quel est votre âge ?</label>
                            <input type="text">
                        </div>
                        <div class="Question">
                            <label for="">Quel est votre sexe</label>
                            <select name="" id="">
                                <option value="Femme">Femme</option>
                                <option value="Homme">Homme</option>
                            </select>
                        </div>
                    </div>

                    <div class="rangeeQuestion">
                        <div class="Question">
                            <label for="">Utilisez-vous un casque ?</label>
                            <select name="" id="">
                                <option value="Oui">Oui</option>
                                <option value="Non">Non</option>
                            </select>
                        </div>
                        <div class="Question">
                            <label for="">Le français est-il votre langue maternelle ?</label>
                            <select name="" id="">
                                <option value="Oui">Oui</option>
                                <option value="Non">Non</option>
                            </select>
                        </div>
                    </div>
                    <div class="btnCentre">
                        <a href="" class="boutonValidation">
                            Passer à l'écoute d'un fichier audio
                        </a>
                    </div>
                    
                </form>
                
                
                
            </section>
        </main>
    </body>
</html>