{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path('user_login') }}" method="post">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" />

        <label for="password">Repeter mot de passe :</label>
        <input type="password" id="password" name="_password_repeated" />

        <button type="submit" class="button">connexion</button>
    </form>
{% endblock %}