{% extends "base.html.twig" %}


{% block body %}




    <form action="{{ path('test_test') }}" method="post">
        <label for="test">Nom utilisateur :</label>
        <input type="text" id="test" name="_test" />


        <button type="submit" class="button">connexion</button>
    </form>

{% endblock %}