{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    {% for folder in folders %}
        <h2>{{ folder.name }}</h2>
        <ul>
            {% for test in folder.tests %}
            <li>{{ test.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
{% endblock %}
