{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    faire une recherche :
    <form action="{{ path('users_search') }}" method="get" class="main-search">
        <!--<label for="searchBar">rechercher:</label>-->
        <input type="text" id="query" name="query"/>

        <button type="submit" class="button">Rechercher</button>
    </form>
    Voici la liste des utilisateurs:
    <ul>
        {% for user in users %}
            <li><a href="">{{ user.firstname }} {{ user.lastname }}</a>[<a href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>]</li>
        {% endfor %}
    </ul>

    {% include '_layouts/pagination.html.twig' with {
        currentPage: page,
        paginationPath: "users_index",
        lastPage: totalPages
    } only %}
{% endblock %}
