<html>
<head>
    <style>
        html{
            font-size: 14px;
        }
        footer .mini{
            font-size: 0.8em;
        }
    </style>
</head>
<body>
<header id="header">
    <h1>Datalents</h1>
</header>
{% block body %}{% endblock %}
<footer>
    <p class="mini">Ce mail est généré automatiquement. Aucune réponse n'y sera apportée.</p>
</footer>
</body>
</html>